apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  labels:
    app: prometheus
data:
  prometheus.yml: |
    global:
      scrape_interval: 10s

    scrape_configs:
      - job_name: 'shipping-service'
        metrics_path: /metrics
        static_configs:
          - targets: ['shipping-service:8004']

